@import '../utils/colors.scss';

.about-container {
    margin-top: 2rem;
    background-color: $backgroundOtherColor;

    .container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 3rem;
        margin: 0 10%;
        padding: 5rem 0;

        .details {
            p {
                font-size: 1.6rem;
                line-height: 1.9rem;
                width: 100%;
                color: $lightFontColor;
            }

            button {
                margin-top: 3rem;
            }
        }

        .cards {
            display: grid;
            // grid-template-columns: repeat(2, 1fr);
            grid-template-columns: 1fr;
            gap: 1rem 0;
        }
    }
}

@media screen and (min-width: 767px) {
    .about-container{
        .container {
            .cards {
                grid-template-columns: 1fr 1fr;
                gap: 1rem;
            }
        }
    }
}


@media screen and (min-width: 1023px) {
    .about-container{
        .container {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}
