@import "../utils/colors.scss";

.blogs-container {
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0 10%;
        padding: 5rem 0;

        .title-container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .title {
                margin-bottom: 1rem;
            }

            p {
                font-size: 1.6rem;
                color: $lightFontColor;
            }
        }

        .blogs {
            display: grid;
            // grid-template-columns: repeat(3, 1fr);
            gap: 4rem 0;
            margin: 2rem 0;
        }

        .button-container {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

@media screen and (min-width: 767px) {
  .blogs-container {
        .container {
            .blogs {
                grid-template-columns: repeat(2, 1fr);
                gap: 2rem;
            }
        }
    }
}

@media screen and (min-width: 1043px) {
  .blogs-container {
        .container {
            .blogs {
                grid-template-columns: repeat(3, 1fr);
            }
        }
    }
}
