@import "../utils/colors.scss";

.main-container {
  margin: 0 10%;

  .container {
    display: grid;
    .content {
      margin-top: 3.4rem;

      h1 {
        font-size: 3rem;
        color: $headingColor;
      }

      p {
        font-size: 1.6rem;
        line-height: 1.9rem;
        color: $lightFontColor;
      }

      .button-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0 1rem;
        margin-top: 2rem;

      }
    }

    .image {
        img {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }
  }
}


@media screen and (min-width: 1024px) {
  .main-container {
    .container {
      grid-template-columns: 1fr 1fr;
      gap: 0 1rem;

      .content {
        h1 {
            font-size: 3.2rem;
          }

        p {
          font-size: 1.9rem;
          line-height: 2rem;
        }
      }
    }
  }
}
