@import "../utils/colors.scss";


.testimonials-container {
    background-color: #efe8ff;
    .container {
        margin: 0 10%;
        padding: 5rem 0;

        .title-container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .title {
                margin-bottom: 1rem;
            }

            p {
                font-size: 1.6rem;
                color: $lightFontColor;
            }
        }

        .testimonials {
            display: grid;
            gap: 3rem 0;
            margin-top: 1.5rem;
        }
    }
}

@media screen and (min-width: 800px)  {
    .testimonials-container {
        .container {
            .testimonials {
                grid-template-columns: repeat(3, 1fr);
            }
        }
    }
}

